body {
    text-align: center;
    margin: 0;
    background-image: url("../images/nbaBackground.jpg");
    background-size: 100%;
}

h1 {
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 80px;
}

.container {
    display: block;
    background-color: white;
    border: 10px solid black;
    margin: 200px auto;
    width: 2000px;
    height: 1000px;
}

#startButton {
    display: block;
    font-size: 60px;
    margin: 0 auto;
    width: 400px;
    height: 100px;
    border: 2px solid black;
}

.answer {
    border: 2px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
}

.giph {
    width: 750px;
}